<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        <style>
           input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;}

            input{
                height: 40px;
            }

            input:focus{
                border: 2px solid #0d6efd !important;
                box-shadow: none !important;
            }

            .resp-card{
                    width: 36rem;
                }

            @media (max-width: 1140px){
                .resp-card{
                    width: 100%;
                }
            }
        </style>
    </head>

    <body style="background: rgba(13, 110, 253,0.85)">

        <nav class="navbar bg-body-tertiary" style="border-bottom: 2px solid #0d6efd;">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="d-flex justify-content-center align-items-center" >
                    <img style="height:28px !important ; margin-right: 8px;" src="https://img.freepik.com/free-vector/hospital-logo-design-vector-medical-cross_53876-136743.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Crucial Hospital
                </div>
            </a>
            </div>
        </nav>

        <div class="container d-flex align-items-center justify-content-center" style="height: calc(100vh - 60px);">

            <!-- form div -->
            <div class="row mb-3">
                <div class="col d-flex justify-content-center">
                    <!-- card content  -->
                    <div class="card shadow resp-card" style="border-radius: 10px;border: none;">
                        <div class="card-body" style="padding: 24px;">
                            <!-- form -->
                            <form class="m-2" method="post">
                                {% csrf_token %}

                                <h3 class="mb-4">Reset Your Password</h3>

                                <div class="row">
                                    <div class=" col ">
                                        <label class="form-label">New Password</label>
                                        {{form.new_password1}}
                                      </div>
                                </div>


                                <div class="row mt-3">
                                    <div class=" col ">
                                        <label class="form-label">Confirm Password</label>
                                        {{form.new_password2}}
                                      </div>

                                </div>

                                <button type="submit" class="btn btn-primary mt-4 w-100" style="padding : 9px 25px">Reset Password</button>
                        </form>

                              {% if messages %}
                                  <div class="alert alert-danger m-2 mt-3" >
                                      {% for message in messages %}
                                        <p style="padding:0;margin:0">{{ message }}</p>
                                      {% endfor %}
                                  </div>
                              {% endif %}


                            <div class="m-2 mt-4 text-center fw-semibold">
                                <p>Dont have an account ?<a href="/register" 
                                    style="text-decoration: none; font-size: 16px;"> Register</a></p>
                            </div>




                          <!-- end form -->
                        </div>
                    </div>
                    <!--end card content  -->
                </div>
            </div>
            <!-- end form div -->



        </div>

        <script>
            // javascript

        </script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
                integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
                integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    </body>
</html>